@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <div class=" well well-sm">
            <p>AngularJs verschachtelte Tabellen</p>
            <a class="btn btn-primary" href="@Url.Action("TableExample", "Home")">Beispiel Tabelle</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>AngularJs Dropdownliste (selection)</p>
            <a class="btn btn-primary" href="@Url.Action("DropDownlist", "Home")">Beispiel Dropdownliste</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>AngularJs Messages (Notifications) und Loading Spinner (bei Exception Call)</p>
            <a class="btn btn-primary" href="@Url.Action("Messages", "Home")">Beispiel Messages</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class=" well well-sm">
            <p>AngularJs Filters</p>
            <a class="btn btn-primary" href="@Url.Action("Filters", "Home")">Beispiel Filter</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Angular Directiven</p>
            <a class="btn btn-primary" href="@Url.Action("Directives", "Home")">Beispiel Directiven</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Angular Proxy Messages</p>
            <a class="btn btn-primary" href="@Url.Action("Messages", "AngularProxy")">Beispiel Proxy Messages</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Angular Proxy Testdaten</p>
            <a class="btn btn-primary" href="@Url.Action("ProxyTestData", "AngularProxy")">Beispiel Proxy Testdaten</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Angular Validation</p>
            <a class="btn btn-primary" href="@Url.Action("Validation", "Home")">Beispiel Validation</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Angular Xeditable Controls</p>
            <a class="btn btn-primary" href="@Url.Action("Xeditable", "Home")">Beispiel Xeditable</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Alerts</p>
            <a class="btn btn-primary" href="@Url.Action("Alerts", "Home")">Beispiel Alerts</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Slide Direktive</p>
            <a class="btn btn-primary" href="@Url.Action("SlideDirective", "Home")">Slide Direktive</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Multiselect</p>
            <a class="btn btn-primary" href="@Url.Action("Multiselect", "Home")">Multiselect</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Prototype Scope!</p>
            <a class="btn btn-primary" href="@Url.Action("PrototypeScope", "Home")">Prototype Scope</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Services - DateTime mit AngularUi und Decimal Anzeige</p>
            <a class="btn btn-primary" href="@Url.Action("Services", "Home")">Services</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class=" well well-sm">
            <p>Ng-Form und Validation</p>
            <a class="btn btn-primary" href="@Url.Action("NgFormValidation", "Home")">Ng-Form und Validierung</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well well-sm">
            <p>Code Highlighter.js</p>
            <a class="btn btn-primary" href="@Url.Action("Codehighlight", "Home")">Highlighter.js Example</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well well-sm">
            <p>Radio Group</p>
            <a class="btn btn-primary" href="@Url.Action("RadioInputs", "Home")">Radio Group</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well well-sm">
            <p>File Upload mit AngularJS</p>
            <a class="btn btn-primary" href="@Url.Action("FileUpload", "Home")">File Upload</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well well-sm">
            <p>Template URL</p>
            <a class="btn btn-primary" href="@Url.Action("TemplateUrl", "Home")">AngularJs Template URL</a>
        </div>
    </div>

</div>